<div class="container">

    <header>
        <img src="/images/ironhack-logo.svg" alt="Iornhack" class="logo">
        <div>
            <h1>Montañas rusas: los datos</h1>
            <p>Visualización de datos: estadísticas nacionales</p>
        </div>
    </header>

    <hr>


    <div class="row mb-4">
        <div class="col-md-8">
            <figure>
                <h2>Comparador de velocidad</h2>
                <hr>
                <canvas id="chart1"></canvas>
            </figure>
        </div>
        <div class="col-md-4">
            <h2>Velocidad de las montañas rusas españolas</h2>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quas harum illo corrupti tempore velit
                non? Odit quoscommodi incidunt. Nam quasi blanditiis molliti!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quas harum illo corrupti tempore velit
                non? Odit quos</p>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4">
            <figure>
                <h2>Comparador de alturas</h2>
                <hr>
                <canvas id="chart2"></canvas>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <h2>Comparador de países</h2>
                <hr>
                <canvas id="chart3"></canvas>
            </figure>

        </div>
        <div class="col-md-4">
            <figure>
                <h2>Comparador de inversiones</h2>
                <hr>
                <canvas id="chart4"></canvas>
            </figure>

        </div>
    </div>


    <article>

        <h2>Comparador de altura VS velocidad</h2>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quas harum illo corrupti tempore velit
            non? Odit quoscommodi incidunt. Nam quasi blanditiis molliti!</p>

    </article>

    <figure>
        <canvas id="chart5" style="height: 300px"></canvas>
    </figure>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/chartsSetup.js"></script>